@model BankLedgerMVC.Models.Account

@{
    ViewData["Title"] = "Index";
}

<h2>Welcome to America's Greatest Bank</h2>
<h2>@ViewData["Message"]</h2>

@if (@Model != null) {
    <h4>Name: @Model.Name</h4>
    <h4>Account Number: @Model.AccountNumber</h4>
    <h4>Username: @Model.UserName</h4>
    <h4>Balance: @Model.Balance</h4>
}

else {
    <form method="POST" action="@Url.Action("VerifyLogin", "Bank")">
        <h3>Login:</h3>
        <label>username:</label>
        <input type="text" name="Username"><br>
        <label>password:</label>
        <input type="text" name="Password"><br>
        <input type="submit">
    </form>
}